// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00bdd6 !default;
$header-bg-color-secondary: #1c1481 !default;

// Text
$section-headings-color: #092291 !default;
$body-text-color: #222222 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #ce4b00 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
$module-border-width: 2px;
