

<div style="background-color: #66be29; display: flex;">
        <div style="width: 50%;">
            <img src="{{site.url}}/assets/img/wordclouds/cluster0_wordcloud3.png" height="350">
        </div>
        <div style="color: #FFFFFF;  width: 50%;">
            <div >
                <h2> Video games </h2>
                Video games is a relatively small group containing only 33 journals. It is one of the few groups that is not
                restricted to a specific geographical area. Spanish is a relatively important predictor for this group, 
                this may be an artefact of our data pre-processing. This could also indicate that most video websites are translated 
                into several languages.

            </div>
        </div>
</div>