<div id="cluster-container">
    <div id="clusters-visualization">
        <div id='clusters-graph'></div>
        <div id='cluster-labels'>
            <div id='panel-selector'></div>
        </div>
    </div>
    <div id="panel-cluster" class="panel-closed">
        <div id="panel-cluster-title"></div>
        <div id="panel-cluster-stats"></div>
        <div id="panel-cluster-features"></div>
    </div>
</div>
<script type="module">
    import { initPanel } from '/assets/js/panel.js';
    import { renderClusters, highlightOn } from '/assets/js/clusters.js';
    
    renderClusters({{site.data.cluster_points | jsonify }}, 'clusters-graph');
    initPanel({{site.data.cluster-info | jsonify }}, {{site.data.feat_imp | jsonify }});
</script>
