<blockquote>
    <p><strong>The data</strong></p>
    <p>
        We used the <a href="https://zenodo.org/record/4277311">2020 Quotebank dataset</a>,
        which contains a list of quotes. Each quote is associated with its likely speaker and the 
        news outlet in which the quote appeared. Additional data about the speakers and the
        news outlets was extracted from the <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">
        Wikidata platform</a>.
        
    </p>
</blockquote>
