<!-- Intro Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <p>
                Youtube is a website with a diverse set of creators and viewers. However, similarly to the real world, 
                one would assume that similar people have similar interests and thus interact with the same type of media. 
                This should particularly be the case for political and news outlets, as the topics they discuss tend to be 
                particularly divisive.
                Our hypothesis is that this behaviour extends to interests that are seemingly unaffiliated to politics. 
                Specifically, we want to see if the viewerbase of gaming content creators are related in any way to that 
                of news and political Youtubers. If this is the case, we could then classify gaming communities on a 
                political spectrum, and it could give us insights on the radicalization pipelines that we know already
                exist on Youtube.
            </p>
            &nbsp;
            
            <h4 class="section-heading">Important assumptions</h4>
            
            <p>
                As our dataset doesn't contain any information about viewers, we assume that the commenter-base of a 
                video is statistically representative of its viewerbase. This is clearly not the case, because people 
                who watch every video from a certain content creator would probably have more of a tendency to write 
                comments on their videos, but this assumption needs to be done to get any kind of analysis done.

                Furthermore, the comments dataset does not contain any information on the comment's text. So we also 
                need to assume that all comments enjoyed or are in agreement with the video. Again, this is a questionable
                assumption, as hate comments are a notoriously common experience for any Youtuber.
            </p>

        </div>
    </section>